ub/rtems/thread-message/message
runtime/constants-rtems/waf
ub/rtems/justprint/.lock-waf_linux2_build
ub/rtems/justprint/waf
ub/rtems/justprint/build
runtime/gen-rtems/waf
runtime/arithchk-rtems/waf
runtime/qnan-rtems/waf
runtime/*-rtems/.lock*
runtime/*-rtems/build/**
runtime/gen-rtems/.waf-2.0.19-1f3c580272b15a03d2566843c5fe872a/
runtime/qnan-rtems/.waf-2.0.19-1f3c580272b15a03d2566843c5fe872a/
runtime/arithchk-rtems/.waf-2.0.19-1f3c580272b15a03d2566843c5fe872a/
**/.waf-2.0.19-1f3c580272b15a03d2566843c5fe872a/**
**/rtems_waf/**
.idea
/build/
/install/
*~
*.sml-e
cscope.*
*.swp
core
*.0.c
*.1.c
*.2.c
.project
*.ssa
*.ssa2
*.xml
*.core-ml
*.machine
*.sxml
*.rssa
*.swn
*.swo
*.swl
*.swm


# various binaries produced during build/test

large-chunk
mlton/26065.sml
parser
reg.out
regression.output
regression/FuhMishra
regression/binio
regression/callcc2
regression/cycle
regression/datatype-with-free-tyvars
regression/date
regression/dead
regression/deep-flatten
regression/default-overloads
regression/down
regression/eq
regression/eqtype
regression/ex
regression/exhaustive
regression/exn
regression/exn2
regression/expansive-valbind
regression/exponential
regression/fact
regression/fast
regression/fast2
regression/ffi
regression/ffi-opaque
regression/fft
regression/filesys
regression/finalize
regression/finalize.2
regression/finalize.3
regression/finalize.4
regression/finalize.5
regression/finalize.6
regression/fixed-integer
regression/flat-array
regression/flat-array.2
regression/flat-array.3
regression/flat-vector
regression/flexrecord
regression/flexrecord.2
regression/format
regression/ftruncate
regression/functor
regression/gc-collect
regression/general
regression/grow-raise
regression/harmonic
regression/hello-world
regression/id
regression/ieee-real
regression/int
regression/int-inf.0
regression/int-inf.1
regression/int-inf.2
regression/int-inf.3
regression/int-inf.4
regression/int-inf.5
regression/int-inf.bitops
regression/int-inf.compare
regression/int-inf.log2
regression/int-inf.rep1
regression/int-inf.rep2
regression/int-inf.rep3
regression/int-inf.rep4
regression/int-inf.rep5
regression/int-overflow
regression/jump
regression/kitdangle
regression/kitdangle3
regression/kitfib35
regression/kitkbjul9
regression/kitlife35u
regression/kitloop2
regression/kitmandelbrot
regression/kitqsort
regression/kitreynolds2
regression/kitreynolds3
regression/kitsimple
regression/kittmergesort
regression/kkb36c
regression/kkb_eq
regression/klife_eq
regression/known-case0
regression/known-case1
regression/lambda-list-ref
regression/layout
regression/lex
regression/lib
regression/life
regression/list
regression/listpair
regression/llv
regression/local-ref
regression/math
regression/mlton.overload
regression/mlton.share
regression/mlton.word
regression/modules
regression/msort
regression/mutex
regression/nested-loop
regression/nextAfter
regression/nonexhaustive
regression/once
regression/only-one-exception
regression/opaque
regression/opaque2
regression/open
regression/os-exit
regression/overloading
regression/pack
regression/pack-real
regression/pack-real.2
regression/pack-word
regression/parse
regression/pat
regression/poly-equal
regression/poly-equal.2
regression/polymorphic-recursion
regression/posix-exit
regression/posix-procenv
regression/print-self
regression/prodcons
regression/pseudokit
regression/real
regression/real-algsimp
regression/real-basic
regression/real-decimal.1
regression/real-int
regression/real-sign
regression/real-str
regression/redundant.1
regression/ref-flatten
regression/ref-flatten.2
regression/ref-flatten.3
regression/ref-flatten.4
regression/ref-flatten.5
regression/ref-flatten.6
regression/rem-unused.1
regression/ring
regression/rlimit
regression/same-fringe
regression/scon
regression/semicolon
regression/signals
regression/signals2
regression/signals3
regression/signals4
regression/sigs
regression/size
regression/size2
regression/slow
regression/slow2
regression/slower
regression/smith-normal-form
regression/socket
regression/string
regression/string.fromString
regression/string2
regression/stringcvt
regression/substring
regression/substring-overflow
regression/suspend
regression/tak
regression/taut
regression/test-create
regression/test-spawn
regression/testMatrix
regression/testdyn1
regression/textio
regression/textio.2
regression/thread-switch
regression/thread-switch-share
regression/thread-switch-size
regression/thread0
regression/thread1
regression/thread2
regression/time
regression/time2
regression/time3
regression/time4
regression/timeout
regression/tststrcmp
regression/type-check
regression/typespec
regression/unary
regression/unary.2
regression/undetermined
regression/unixpath
regression/useless-string
regression/valrec
regression/vector
regression/vector-loop
regression/vector2
regression/vector3
regression/vector4
regression/weak
regression/weak.2
regression/weak.3
regression/weird-word1
regression/weird-word2
regression/where
regression/where-and
regression/widechar
regression/withtype
regression/withtype2
regression/withtype3
regression/withtype4
regression/withtype5
regression/word
regression/word-all
regression/word8array
regression/word8vector
regression/wordn-array
regression/x
regression/x.sml
ub/fib
ub/gcbench
ub/justprint
ub/real


CDSml/graphs/.ipynb_checkpoints/
CDSml/graphs/cd_mlton.pdf
CDSml/graphs/cd_rtmlton.pdf
CDSml/runCD
benchmark/b.out
benchmark/tests/doit
benchmark/tests/doit.sml
benchmark/tests/doit.sml-rtmlton-stats
benchmark/tests/filelist.txt
benchmark/tests/script.out
benchmark/tests/script2.out
benchmark/tests/zern.mlton
regression/1
regression/10
regression/11
regression/12
regression/13
regression/14
regression/15
regression/16
regression/17
regression/18
regression/19
regression/2
regression/20
regression/21
regression/22
regression/23
regression/3
regression/4
regression/5
regression/6
regression/7
regression/8
regression/9
regression/abcde
regression/abstype
regression/all-overloads
regression/args-create
regression/args-spawn
regression/array
regression/array2
regression/array3
regression/array4
regression/array5
regression/array6
regression/array7
regression/asterisk
regression/basis-sharing
regression/big-array
regression/bool-triple
regression/bytechar
regression/callcc
regression/callcc3
regression/cases
regression/char.scan
regression/char0
regression/check_arrays
regression/circular
regression/cmdline
regression/cobol
regression/command-line
regression/comment-end
regression/common-subexp0
regression/constraint
regression/conversion
regression/jeff
regression/mutex.3.c
regression/sharing
regression/textio.mlb
regression/xxx
regression2.out
regression3.out
runtime/ml_array_payload-
runtime/ml_object*
runtime/mlmon.out
runtime/splitheader
runtime/umarray-allocate-test
runtime/umarray-allocate-test.c
ub/arraytest
ub/last
ub/rstrip



.vscode/
CDSml/cg.png
CDSml/count.py
CDSml/foo.png
CDSml/foo2.png
CDSml/pre-post/
add.sh
jeff/
mlton/28359.sml
mlton/5083
mlton/5083.sml
mlton/5737.sml
runtime/qnan-rtems/.lock-waf_linux2_build
tests/BarnesHutTest
tests/BarnesHutTest-mlton
tests/BarnesHutTest-rtmlton
tests/EvenOddTest
tests/EvenOddTest-mlton
tests/EvenOddTest-rtmlton
tests/FibTest
tests/FibTest-mlton
tests/FibTest-rtmlton
tests/FlatArrayTest
tests/FlatArrayTest-mlton
tests/FlatArrayTest-rtmlton
tests/ImpForTest
tests/ImpForTest-mlton
tests/ImpForTest-rtmlton
tests/MandelbrotTest
tests/MandelbrotTest-mlton
tests/MandelbrotTest-rtmlton
tests/MatrixTest
tests/MatrixTest-mlton
tests/MatrixTest-rtmlton
tests/Md5Test
tests/Md5Test-mlton
tests/Md5Test-rtmlton
tests/PeekTest
tests/PeekTest-mlton
tests/PeekTest-rtmlton
tests/PsdesTest
tests/PsdesTest-mlton
tests/PsdesTest-rtmlton
tests/TailFibTest
tests/TailFibTest-mlton
tests/TailFibTest-rtmlton
tests/TakTest
tests/TakTest-mlton
tests/TakTest-rtmlton
tests/data-old.txt
tests/matrix-multiply
tests/md5
ub/add
ub/arraytest.ast
ub/exn-test
ub/fib-basic
ub/simplesched
ub/unit

